/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}
:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}
.fa-solid {
  color: var(--main-color);
}
body, html{
  padding: 0;
  max-width: 1440px;
  margin: 0 auto;
}
.section-title {
  margin: 0;
  font-size: 22px;
}
.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card img {
  object-fit: cover;
}
.card-title {
  font-size: 16px;
}
.euro {
  font-weight: 700;
}
.neutralStar {
  color: var(--main-bg-color);
}
/***** header *****/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin:  0 13px;
}
.logo {
  width: 61.09px;
  height: 19px;
  border-radius: 0;
}
.subHeader {
  width: 90vw;
  margin: 0 auto;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav ul {
  display: flex;
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
}
nav li {
  padding: 46px 33.5px;
}
nav li:hover {
  border-top: solid 2px #0065fc;
  cursor: pointer;
  padding: 44px 33.5px;
}
nav li:hover a {
  color: #0065fc;
}
.menu a {
  text-decoration: none;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: black;
}

/**** main ****/ 

main{
  margin: 13px;
}


/***** barre de recherche *****/
form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.titre {
  margin-bottom: 30px;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 195px;
  height: 49px;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  font-weight: bold;
  font-size: 16px;
  margin-right: 0;
}
.icone {
  width: 50px;
  height: 49px;
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  margin-right: 0;
}
.icone div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.submit {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100px;
  height: 49px;
  margin: 0;
  border: solid 1px #0065fc;
  border-radius: 0 15px 15px 0px;
  background-color: #0065fc;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
.button {
  background: transparent;
  border: none;
  font-size: 0;
}
/***** Filtres *****/
.margFiltres {
  display: flex;
  margin-top: 40px;
  margin-bottom: 35px;
}
.section-title-filtre {
  padding-right: 15px;
}
.button-filtre {
  display: flex;
  gap: 10px;
}
.filtreIcones {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 19px 4px 19px;
  gap: 10px;
  border: 2px solid #f2f2f2;
  width: 167px;
  height: 50px;
  border-radius: 30px;
  font-weight: bold;
}
.filtreIcones:hover {
  font-weight: 1000;
  height: 50px;
  border: 2px solid #deebff;
  background: #deebff;
  cursor: pointer;
}
/***** information *****/
.information {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 35px;
}
.info-icone {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #f2f2f2;
  width: 24px;
  height: 24px;
  border-radius: 30px;
  margin-right: 10px;
  color: #0065fc;
}
/****** Hebergements And Populaires ***********/
  .hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin-left: 4%;
}
.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}
.card {
  cursor: pointer;
}
/****** Hebergements ******/
.hebergements {
  width: 100%;
  margin-right: 30px;
}
.hebergements-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
} 
.container {
  background-color: white;
  border: #ffffff solid 5px;
  border-radius: 20px;
  box-shadow: 0px 5px 6px 3px #0000000d;
}
.container img {
  width: 15vw;
  height: 124px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.card-content-heberg {
  display: flex;
  justify-content: start;
  border-radius: 0 0 20px 20px;
}
.card-title-heb {
  margin-top: 10px;
  margin-left: 15px;
  font-size: 16px;
 margin-bottom: 0;
}
.card-subtitle-heb {
  margin-left: 15px;
  font-size: 14px; 
}
.text {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-top: 30px;
  margin-left: 15px;
}
/***** Activités à Marseille *****/
.section-title {
  margin-left: 20px;
  margin-bottom: 20px;
}
.Activités {
  width: 90vw;
  margin: 0 auto;
  padding-top: 20px;
}
.container-activites {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between
}
.blocimg {
  padding: 15px;
}
.blocimg img {
  width: 20vw;
  height: 380px;
  border-radius: 20px 20px 0 0;
  margin-top: 30px;
  object-fit: cover;
}
.card-content-activites {
  display: flex;
  justify-content: start;
  gap: 10px;
}
.card-txt-a {
  width: 20vw;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 5px 6px 3px #f2f2f2de;
}
.card-title-act h3 {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 700;
}
.card-txt-a h3 {
  margin-left: 10px;
}
/****** Populaires ***********/
.populaires {
  width: 32%;
}
.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}
.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0;
}
.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}
.populaires-cards .card-subtitle {
  margin: 0;
}
.populaires-cards .card-rating {
  margin-bottom: 5px;
}
/***** FOOTER *****/
.footer {
 width: 90vw;
 margin: 0 auto;
  background-color: #f2f2f2;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  line-height: 30px;
}

.infos1 {
  justify-content: flex-start;
}
.infos3 {
  margin-left: 0;
  margin-right: 23%;
}

.hebergement-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */

@media screen and ( max-width: 1124px) {

  .subHeader {
    width: 90%;
  }
  .button-filtre {
    width: 90%;
  }
  .section-title {
    padding-bottom: 20px;
  }
  .hebergements-and-populaires {
    flex-direction: column;
    width: 95%;
    padding: 6px;
    margin: 0 auto;
  }
  .hebergements {
    width: 100%;
  }
  .hebergements-card {
    width: 85vw;
    margin: 0 auto;
  }
  .text {
    margin-left: 45px;
  }
 .container img{
  width: 25vw;
 }
  .populaires {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
   
  }
  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .populaires-cards .card {
    width: 30%;
  }
  .Activités {
   width: 90vw; 
   padding-top: 0;
  }
  .container-activites {
    width: 90vw;
  }
  .blocimg img {
    width: 19vw;
    height: 20vw;
  }
  .card-txt-a {
    width: 19vw;
  }
  .card-title-act {
    display: flex;
    flex-direction: column;
  }
  .footer {
    width: 90%;
  }
}
@media screen and (max-width: 767.98px) {
  header {
    width: auto;
    display: flex;
    flex-direction: column; 
    margin: 0;
}
body {
  margin: 0;
}
main {
  margin: 0;
  width: auto;
}
.logo {
  margin-top: 20px;
}
nav {
  height: 120px;
  margin: 0;
}
nav li {
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-gap: 2.5rem;
}
nav li:hover {
  border-top: none;
  border-bottom: solid 2px #0065fc;
}
.titre {
  padding-left: 10px;
}
.titre h2{
  display: flex;
  flex-wrap: wrap;
}
form {
  justify-content: center;
  width: 90%;
}
.margFiltres {
  
  margin-top: 40px;
  margin-bottom: 50px;
}
.section-title-filtre {
  position: absolute;
}
.button-filtre {
  position: relative;
  top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr ;
}
.filtreIcones {
  width: 30vw;
  height: 40px;
}
.filtreIcones:hover {
  width: 30vw;
  height: 40px;
}
.information {
  position: relative;
  top: 30px;
}
.section-title {
  margin-bottom: 0;
  padding-left: 110px;
}
.hebergements-and-populaires {
  padding: 0;
  width: 100%;
}
.hebergements-and-populaires section {
  border-radius: 0;
}
.populaires {
  order: 1;
}
 .populaires-cards {
  flex-direction: column;
  gap: 20px;
}
.populaires-cards .card {
  width: 60vw;
  height: 100%;
  margin: 0 auto;
}
.populaires-cards img {
  height: 160px;
}
.populaires-title {
  margin-bottom: 0;
  padding-bottom: 20px;
  padding-right: 10px;
}
.hebergements {
  order: 2;
  --main-bg-color: #fff;
}
.hebergements-card {
  flex-direction: column;
  flex-wrap: nowrap;
}
.text {
  padding-left: 120px;
  padding-bottom: 20px;
}
.container {
  width: 60vw;
  margin: 0 auto;
  gap: 20px;
}
.container img {
 width: 60vw;
 height: 180px;
}
.card-txt {
  height: 16vw;
}
.container-activites {
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.blocimg {
  height: 25vh;
}
.blocimg img {
  width: 60vw;
  height: 20vh;
}
.card-content-activites {
  width: 60vw;
}
.card-txt-a {
  width: 80vw;
  height: 9vw;
}
.footer {
  flex-direction: column;
  margin-top: 50px;
  width: auto;
}
}
@media screen and (max-width: 420px) {
  nav li {
    grid-gap: 1.5rem;
}
.populaires-title {
  margin-right: 0;
}
.section-title {
  padding-left: 0;
}
.text {
  padding-left: 0;
}
.submit {
  position: absolute;
  top: -9999px;
  left: -9999px;
  background: transparent;
  border: none;
  font-size: 0;
  width: 0px;
 height: 0;
  display: block;
}
.button {
  border: solid 1px #0065fc;
  border-radius: 15px;
  background-color: #0065fc;
  color: #fff;
  font-size: 16px;
  width: 49px;
  height: 49px;
  margin-right: 0;
  cursor: pointer;
  margin-left: -10px;
}
.button i{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}
.container img {
 height: 120px;
}
.card-txt {
  height: 19vw;
}
.blocimg {
  height: 29vh;
}
.blocimg img {
  width: 70vw;
  height: 20vh;
}
.hebergements-and-populaires {
  padding: 0 ;
}
.hebergements-and-populaires section {
  padding: 5%;
}
.hebergements {
  padding: 0;
  margin-right: 0;
}
.hebergements-card {
width: 90vw;
}
.container {
  width: 70vw;
}
.container img {
  width: 70vw;
}
.card-txt {
  height: 22vw;
}
.card-content-activites {
  width: 70vw;
}
.card-txt-a {
  width: 70vw;
  height: 20vw;
}
.infos3 {
  margin-right: 0;
}
.footer ul li {
  margin: 0;
}
}








